body{
  background-color: #f7f7f7;
  margin-top:20px;
}

.navbar-nav {
  margin-left: auto;
  justify-content: space-around;
  width: 30%;
  font-size: 17px;
  color: black;
  font-weight: 600;
}

form {
  padding-right: 5%;
  position: relative;
  float: right;
  text-align: left;
}

ul {
  list-style-type: none;
}

span {
  color: aliceblue;
  font-weight: bold;
  font-size: 15px;
  padding-left: 3%;
  text-align: left;
  margin-top: 4%;
}


.main-timeline {
  position: relative
}

.main-timeline:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #09061f;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

.main-timeline .timeline {
  margin-bottom: 40px;
  position: relative
}

/*pour contenir le time line au milieu et verticalement*/
.main-timeline .timeline:after {
  content: "";
  display: block;
  clear: both
}

.main-timeline .icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

.main-timeline .icon:before{
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.main-timeline .icon:before {
  background: #fff;
  border: 2px solid #232323;
  left: 0
}



.main-timeline .timeline:hover .icon:before {
  left: 0
}



.main-timeline .date-content {
  width: 50%;
  float: left;
  margin-top: 22px;
  position: relative
}

.main-timeline .date-content:before {
  content: "";
  height: 2px;
  background: #c6c6c6;
  margin: auto 0;
  position: absolute;
  top: 0;
  bottom: 0
}

.main-timeline .date-outer {

  font-size: 16px;
  text-align: center;
  margin: auto;
}

.main-timeline .date-outer:before {
  content: "";
 
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
}




.main-timeline .timeline:hover .date-outer:before {
  left: 6px
}


.main-timeline .date {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 27%;
  left: 0;
  
}

.main-timeline .month {
  font-size: 18px;
  font-weight: 700
}

.main-timeline .year {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #232323;
  line-height: 36px
}

.main-timeline .timeline-content {
  width: 50%;
  padding: 20px 0 20px 50px;
  float: right
}

.main-timeline .title {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px 0
}

.main-timeline .description {
  margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
  float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
  left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  padding: 20px 50px 20px 0;
  text-align: right
}

/*-----------------CONTACTES-----------------------------*/
#uname,
#uname1,
#uname2 {
  border: 2px solid #212529;
  opacity: 0.9;

}

#uname {

  margin-top: 80px;

}

.form {
  
  /*background: linear-gradient(rgba(27, 26, 26, 0.855), rgba(26, 26, 26, 0.819)), url(images.jpeg);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-left: 40px;
  
}

button.button1 {

  text-align: center;
  opacity: 0.9;
  background-color: orangered;
  border: orangered;
  padding: 1%;
  font-size: 20px;
}



  /* background-color: antiquewhite; */

/*-------------------------END CONTACTES--------------------*/

@media only screen and (max-width: 991px) {
  .main-timeline .date-content {
      margin-top: 35px;
      

  }
  .main-timeline .date-content:before {
      width: 22.5%
  }
  .main-timeline .timeline-content {
      padding: 10px 0 10px 30px
  }
  .main-timeline .title {
      font-size: 17px
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      padding: 10px 30px 10px 0
  }
  .pied_de_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: antiquewhite; */
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #141414;
    color: white;
}
}
@media only screen and (max-width: 767px) {
  .main-timeline:before {
      margin: 0;
      left: 7px
  }
  .main-timeline .timeline {
      margin-bottom: 20px
  }
  .main-timeline .timeline:last-child {
      margin-bottom: 0
  }
  .main-timeline .icon {
      margin: auto 0
  }
  .main-timeline .date-content {
      width: 150%;
      float: right;
      margin-top: 0;
  }
  .main-timeline .img2{
    margin-left: 35%;
    margin-top: 10%;
  }
  .main-timeline .date-content:before {
      display: none
  }
  .main-timeline .date-outer {
      width: 110px;
      height: 110px
  }
  .main-timeline .date-outer:before,
  .main-timeline .date-outer:after {
      width: 110px;
      height: 110px
  }
  .main-timeline .date {
      top: 30%
  }
  .main-timeline .year {
      font-size: 24px
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      width: 95%;
      text-align: center;
      padding: 10px 0
  }
  .main-timeline .title {
      margin-bottom: 10px
  }
}

footer{
  text-decoration: none;
  color: #f7f7f7;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #141414;
  color: white;

}
.pied_de_page{
  text-decoration: none;

  display: flex;
  justify-content: space-around;
  /* justify-content: space-evenly; */
  align-items: center;
  width: 80%;
  height: 100%;}
  /* background-color: antiquewhite; */